<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <div class="row ">
        <br>
        <%# Lists all posts if they exist. %>
        <h1>Users</h1>
        <ul>
        <% user.forEach(function (user) { %>
            <br>username: <%= user.username %>
        <% }) %>
        </ul>
    </div>


</div>
</body>
</html>