<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel='stylesheet' href='/stylesheets/stylewow.css' />
    <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">

    <div class="header" id="header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="/">
                <img src="images/DEBLogo.png" alt="Front logo">
            </a>
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/wow">WoW</a></li>
                    <li><a href="/csgo">CS:GO</a></li>
                    <li><a href="/dota">Dota 2</a></li>
                    <% if (user) { %>
                    <li><a>User: </a></li>
                    <li><a><%= user.username%></a></li>
                    <%}%>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <%if (user) {%>
                    <li><a href="/logout">Logout</a></li>
                    <%}%>
                    <li><a href="/lol">League of Legends</a></li>
                    <li><a href="/ark">Ark</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
    </div>
</head>
<body>

<h1 class="lintlogo">
    <video loop muted autoplay poster="../images/LintLogo.gif" class="lintlogo">
        <source src="../images/LintLogo.gif" type="video/gif">
    </video>
</h1>
<!-- Guild news -->
<section class="multiple-items slider" id="slider">
    <div>
        <img src="../images/seebs.png" class="slick-slide">
    </div>
    <div>
        <img src="../images/gulndan.png" class="slick-slide">
    </div>
    <div>
        <img src="../images/celki.png" class="slick-slide">
    </div>
</section>

<div class="iframescroll" id="iframescroll">
<iframe src="https://www.wowprogress.com/guild/us/illidan/Lint+Lickers" id="wowprogress"></iframe>
</div>

<div class="fullscreen-bg">
    <video loop muted autoplay poster="../images/etienneforest.gif" class="fullscreen-bg__video">
        <source src="../images/etienneforest.gif" type="video/gif">
    </video>
</div>

<button class="mybtn" id="mybtn" title="Go to top"></button>
<button class="apply" id="apply" title="Apply">Apply</button>
    <div class="apppop bounce" id="apppop"></div>
        <div>--></div>

<div>
    <form action="/wow" method="POST" class="form-signin">
        <input type="text" name="contact" placeholder="Character name/Battletag, etc" required="required" autofocus="autofocus" class="form-control-sgn"/>
        <input type="text" name="raidtimes" placeholder="Did ya look at our raid times? Enter avail" required="required" class="form-control-sgn nomargin"/>
        <input type="text" name="roles" placeholder="What roles can you play?" required="required" class="form-control-sgn"/>
        <input type="url"  name="armory" placeholder="Link yo armory(s) nukka" required="required" class="form-control-lg"></input>
        <input type="url" name="logs" placeholder="Gimme some warcraflogs, add some flair" required="required" class="form-control-lg"></input>
        <input type="text" name="lint" placeholder="Do you lick lint?" class="form-control-sgn"/>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Apply</button><span class="clearfix"></span>
    </form>

</div>

<div class="panel-footer">
    <p><span class="glyphicon glyphicon-heart"></span> Theme copyright or other random shit -- CREDITS TO ETIENNE SAVOIE FOR BACKGROUND </p>
</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/gsap/src/uncompressed/TweenMax.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/preloadjs/dist/preload.js"></script>
<script src="bower_components/slick-carousel/slick/slick.js"></script>
<script src="bower_components/bcrypt/bcrypt.js"></script>

<script type="text/javascript">
    $('.multiple-items').slick({
        dots: true,
        infinite: true,
        //fade: true,
        slidesToShow: 3,
        slidesToScroll: 3
    });

</script>
<script type="text/javascript" src="javascripts/scrolltopbutton.js"></script>

</body>
</html>

